In [1]:
import pandas as pd
from sklearnex import patch_sklearn
patch_sklearn()
pd.set_option("display.max_columns",None)

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [2]:
CENSUS_DATA=pd.read_csv("ChicagoCensusData.csv")
CHICAGO_PUBLIC_SCHOOLS=pd.read_csv("ChicagoPublicSchools.csv")
CHICAGO_CRIME_DATA=pd.read_csv("ChicagoCrimeData.csv")

In [3]:
CENSUS_DATA.head(2)

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0

In [4]:
CHICAGO_PUBLIC_SCHOOLS.head(2)

,School_ID,NAME_OF_SCHOOL,Elementary_Middle_or_High_School,Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,Collaborative_Name,Adequate_Yearly_Progress_Made_,Track_Schedule,CPS_Performance_Policy_Status,CPS_Performance_Policy_Level,HEALTHY_SCHOOL_CERTIFIED,Safety_Icon,SAFETY_SCORE,Family_Involvement_Icon,Family_Involvement_Score,Environment_Icon,Environment_Score,Instruction_Icon,Instruction_Score,Leaders_Icon,Leaders_Score,Teachers_Icon,Teachers_Score,Parent_Engagement_Icon,Parent_Engagement_Score,Parent_Environment_Icon,Parent_Environment_Score,AVERAGE_STUDENT_ATTENDANCE,Rate_of_Misconducts__per_100_students_,Average_Teacher_Attendance,Individualized_Education_Program_Compliance_Rate,Pk_2_Literacy__,Pk_2_Math__,Gr3_5_Grade_Level_Math__,Gr3_5_Grade_Level_Read__,Gr3_5_Keep_Pace_Read__,Gr3_5_Keep_Pace_Math__,Gr6_8_Grade_Level_Math__,Gr6_8_Grade_Level_Read__,Gr6_8_Keep_Pace_Math_,Gr6_8_Keep_Pace_Read__,Gr_8_Explore_Math__,Gr_8_Explore_Read__,ISAT_Exceeding_Math__,ISAT_Exceeding_Reading__,ISAT_Value_Add_Math,ISAT_Value_Add_Read,ISAT_Value_Add_Color_Math,ISAT_Value_Add_Color_Read,Students_Taking__Algebra__,Students_Passing__Algebra__,9th Grade EXPLORE (2009),9th Grade EXPLORE (2010),10th Grade PLAN (2009),10th Grade PLAN (2010),Net_Change_EXPLORE_and_PLAN,11th Grade Average ACT (2011),Net_Change_PLAN_and_ACT,College_Eligibility__,Graduation_Rate__,College_Enrollment_Rate__,COLLEGE_ENROLLMENT,General_Services_Route,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,NORTH-NORTHWEST SIDE COLLABORATIVE,No,Standard,Not on Probation,Level 1,Yes,Very Strong,99.0,Very Strong,99,Strong,74.0,Strong,66.0,Weak,65,Strong,70,Strong,56,Average,47,96.00%,2.0,96.40%,95.80%,80.1,43.3,89.6,84.9,60.7,62.6,81.9,85.2,52,62.4,66.3,77.9,69.7,64.4,0.2,0.9,Yellow,Green,67.1,54.5,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,813,33,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,SOUTH SIDE COLLABORATIVE,No,Track_E,Not on Probation,Level 1,No,Average,54.0,Strong,66,Strong,74.0,Very Strong,84.0,Weak,63,Strong,76,Weak,46,Average,50,95.60%,15.7,95.30%,100.00%,62.4,51.7,21.9,15.1,29,42.8,38.5,27.4,44.8,42.7,14.1,34.4,16.8,16.5,0.7,1.4,Green,Green,17.2,27.3,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,521,46,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"

In [5]:
CHICAGO_CRIME_DATA.head(2)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,BEAT,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,911,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.80744,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,1112,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.89828,-87.716406,"(41.898279962, -87.716405505)"

In [6]:
!pip install ipython-sql
%load_ext sql
%sql mysql+pymysql://root:4480@localhost/portfolio

Requirement already satisfied: ipython-sql in c:\users\yogis\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\yogis\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\yogis\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: six in c:\users\yogis\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in c:\users\yogis\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in c:\users\yogis\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\yogis\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\yogis\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\yogis\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: traitlets>=4.2 in c:\users\yogis\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: decorator in c:\users\yogis\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: pygments in c:\users\yogis\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: backcall in c:\users\yogis\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\yogis\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\yogis\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\yogis\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\yogis\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\yogis\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yogis\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [7]:
%sql --persist CENSUS_DATA
%sql --persist CHICAGO_PUBLIC_SCHOOLS
%sql --persist CHICAGO_CRIME_DATA

 * mysql+pymysql://root:***@localhost/portfolio
 * mysql+pymysql://root:***@localhost/portfolio
 * mysql+pymysql://root:***@localhost/portfolio

'Persisted chicago_crime_data'

#### Problem 1: Find the total number of crimes recorded in the CRIME table.

In [8]:
%sql select count(distinct CASE_NUMBER) as 'total_number_of_crimes' from CHICAGO_CRIME_DATA

 * mysql+pymysql://root:***@localhost/portfolio
1 rows affected.

[(533,)]

#### Problem 2: List community areas with per capita income less than 11000.

In [9]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where PER_CAPITA_INCOME<11000

 * mysql+pymysql://root:***@localhost/portfolio
4 rows affected.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

#### Problem 3: List all case numbers for crimes involving minors?

In [10]:
%sql select PRIMARY_TYPE from CHICAGO_CRIME_DATA group by(PRIMARY_TYPE)

 * mysql+pymysql://root:***@localhost/portfolio
35 rows affected.

[('THEFT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('OTHER OFFENSE',),
 ('ASSAULT',),
 ('BURGLARY',),
 ('MOTOR VEHICLE THEFT',),
 ('DECEPTIVE PRACTICE',),
 ('ROBBERY',),
 ('CRIMINAL TRESPASS',),
 ('PROSTITUTION',),
 ('WEAPONS VIOLATION',),
 ('PUBLIC PEACE VIOLATION',),
 ('OFFENSE INVOLVING CHILDREN',),
 ('CRIM SEXUAL ASSAULT',),
 ('SEX OFFENSE',),
 ('INTERFERENCE WITH PUBLIC OFFICER',),
 ('GAMBLING',),
 ('LIQUOR LAW VIOLATION',),
 ('ARSON',),
 ('HOMICIDE',),
 ('KIDNAPPING',),
 ('INTIMIDATION',),
 ('STALKING',),
 ('OBSCENITY',),
 ('CONCEALED CARRY LICENSE VIOLATION',),
 ('PUBLIC INDECENCY',),
 ('NON-CRIMINAL',),
 ('OTHER NARCOTIC VIOLATION',),
 ('HUMAN TRAFFICKING',),
 ('NON - CRIMINAL',),
 ('RITUALISM',),
 ('NON-CRIMINAL (SUBJECT SPECIFIED)',),
 ('DOMESTIC VIOLENCE',)]

In [11]:
%sql select CASE_NUMBER from CHICAGO_CRIME_DATA where DESCRIPTION like '%MINOR%'

 * mysql+pymysql://root:***@localhost/portfolio
2 rows affected.

[('HL266884',), ('HK238408',)]

#### Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [12]:
%sql select PRIMARY_TYPE,DESCRIPTION from CHICAGO_CRIME_DATA GROUP BY(PRIMARY_TYPE)

 * mysql+pymysql://root:***@localhost/portfolio
35 rows affected.

[('THEFT', 'FROM BUILDING'),
 ('BATTERY', 'SIMPLE'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE'),
 ('NARCOTICS', 'POSS: CANNABIS 30GMS OR LESS'),
 ('OTHER OFFENSE', 'TELEPHONE THREAT'),
 ('ASSAULT', 'SIMPLE'),
 ('BURGLARY', 'UNLAWFUL ENTRY'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('DECEPTIVE PRACTICE', 'CREDIT CARD FRAUD'),
 ('ROBBERY', 'ARMED: HANDGUN'),
 ('CRIMINAL TRESPASS', 'TO STATE SUP LAND'),
 ('PROSTITUTION', 'CALL OPERATION'),
 ('WEAPONS VIOLATION', 'UNLAWFUL POSS OF HANDGUN'),
 ('PUBLIC PEACE VIOLATION', 'RECKLESS CONDUCT'),
 ('OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR'),
 ('CRIM SEXUAL ASSAULT', 'ATTEMPT NON-AGGRAVATED'),
 ('SEX OFFENSE', 'AGG CRIMINAL SEXUAL ABUSE'),
 ('INTERFERENCE WITH PUBLIC OFFICER', 'RESIST/OBSTRUCT/DISARM OFFICER'),
 ('GAMBLING', 'GAME/DICE'),
 ('LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('ARSON', 'AGGRAVATED'),
 ('HOMICIDE', 'FIRST DEGREE MURDER'),
 ('KIDNAPPING', 'CHILD ABDUCTION/STRANGER'),
 ('INTIMIDATION', 'INTIMIDATION'),
 ('STALKING', 'CYBERSTALKING'),
 ('OBSCENITY', 'OBSCENE MATTER'),
 ('CONCEALED CARRY LICENSE VIOLATION', 'OTHER'),
 ('PUBLIC INDECENCY', 'LICENSED PREMISE'),
 ('NON-CRIMINAL', 'LOST PASSPORT'),
 ('OTHER NARCOTIC VIOLATION', 'INTOXICATING COMPOUNDS'),
 ('HUMAN TRAFFICKING', 'INVOLUNTARY SERVITUDE'),
 ('NON - CRIMINAL', 'FOID - REVOCATION'),
 ('RITUALISM', 'AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY'),
 ('NON-CRIMINAL (SUBJECT SPECIFIED)', 'NOTIFICATION OF CIVIL NO CONTACT ORDER'),
 ('DOMESTIC VIOLENCE', 'DOMESTIC VIOLENCE')]

In [40]:
%sql select CASE_NUMBER,PRIMARY_TYPE,DESCRIPTION from CHICAGO_CRIME_DATA where PRIMARY_TYPE like'%KIDNAPPING%'

 * mysql+pymysql://root:***@localhost/portfolio
1 rows affected.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

#### Problem 5: What kind of crimes were recorded at schools?

In [14]:
%%sql select PRIMARY_TYPE,LOCATION_DESCRIPTION from CHICAGO_CRIME_DATA GROUP BY(LOCATION_DESCRIPTION) 
ORDER BY LOCATION_DESCRIPTION DESC

 * mysql+pymysql://root:***@localhost/portfolio
48 rows affected.

[('CRIMINAL DAMAGE', 'WAREHOUSE'),
 ('THEFT', 'VEHICLE NON-COMMERCIAL'),
 ('THEFT', 'VACANT LOT/LAND'),
 ('THEFT', 'TAVERN/LIQUOR STORE'),
 ('THEFT', 'STREET'),
 ('THEFT', 'SMALL RETAIL STORE'),
 ('THEFT', 'SIDEWALK'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('THEFT', 'RESTAURANT'),
 ('THEFT', 'RESIDENTIAL YARD (FRONT/BACK)'),
 ('THEFT', 'RESIDENCE-GARAGE'),
 ('THEFT', 'RESIDENCE PORCH/HALLWAY'),
 ('THEFT', 'RESIDENCE'),
 ('NARCOTICS', 'POLICE FACILITY/VEH PARKING LOT'),
 ('THEFT', 'PARKING LOT/GARAGE(NON.RESID.)'),
 ('BATTERY', 'OTHER COMMERCIAL TRANSPORTATION'),
 ('THEFT', 'OTHER'),
 ('THEFT', 'NURSING HOME/RETIREMENT HOME'),
 ('THEFT', 'MOVIE HOUSE/THEATER'),
 ('CRIMINAL TRESPASS', 'LIBRARY'),
 ('HOMICIDE', 'HOUSE'),
 ('ASSAULT', 'HOSPITAL BUILDING/GROUNDS'),
 ('THEFT', 'GROCERY FOOD STORE'),
 ('NON-CRIMINAL', 'GOVERNMENT BUILDING/PROPERTY'),
 ('THEFT', 'GAS STATION'),
 ('BURGLARY', 'FACTORY/MANUFACTURING BUILDING'),
 ('THEFT', 'DRUG STORE'),
 ('THEFT', 'DEPARTMENT STORE'),
 ('DECEPTIVE PRACTICE', 'CTA TRAIN'),
 ('THEFT', 'CTA PLATFORM'),
 ('THEFT', 'CTA BUS'),
 ('LIQUOR LAW VIOLATION', 'CONVENIENCE STORE'),
 ('THEFT', 'CONSTRUCTION SITE'),
 ('THEFT', 'COMMERCIAL / BUSINESS OFFICE'),
 ('CRIMINAL TRESPASS', 'COLLEGE/UNIVERSITY GROUNDS'),
 ('BURGLARY', 'CLEANING STORE'),
 ('BATTERY', 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP'),
 ('CRIMINAL TRESPASS', 'CHA PARKING LOT/GROUNDS'),
 ('CRIMINAL TRESPASS', 'CHA HALLWAY/STAIRWELL/ELEVATOR'),
 ('BATTERY', 'CHA APARTMENT'),
 ('THEFT', 'BAR OR TAVERN'),
 ('DECEPTIVE PRACTICE', 'BANK'),
 ('THEFT', 'ATHLETIC CLUB'),
 ('THEFT', 'APARTMENT'),
 ('THEFT', 'ALLEY'),
 ('THEFT', 'AIRPORT/AIRCRAFT')]

In [41]:
%%sql select CASE_NUMBER,PRIMARY_TYPE,LOCATION_DESCRIPTION from 
CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like'%SCHOOL%' group by(PRIMARY_TYPE)

 * mysql+pymysql://root:***@localhost/portfolio
6 rows affected.

[('HL353697', 'BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HS200939', 'CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HK577020', 'NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HT315369', 'ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HR585012', 'CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING')]

#### Problem 6: List the average safety score for all types of schools.

In [16]:
%%sql select Elementary_Middle_or_High_School,count(Elementary_Middle_or_High_School) 
from CHICAGO_PUBLIC_SCHOOLS group by(Elementary_Middle_or_High_School)

 * mysql+pymysql://root:***@localhost/portfolio
3 rows affected.

[('ES', 462), ('HS', 93), ('MS', 11)]

In [17]:
%%sql select Elementary_Middle_or_High_School as School_Types,round(avg(SAFETY_SCORE),2) as Average_safety_score
from CHICAGO_PUBLIC_SCHOOLS group by(Elementary_Middle_or_High_School)

 * mysql+pymysql://root:***@localhost/portfolio
3 rows affected.

[('ES', 49.52), ('HS', 49.62), ('MS', 48.0)]

#### Problem 7: List 5 community areas with highest % of households below poverty line.

In [18]:
%%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from 
CENSUS_DATA order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5

 * mysql+pymysql://root:***@localhost/portfolio
5 rows affected.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

#### Problem 8: Which community area(number) is most crime prone?

In [38]:
%%sql select COMMUNITY_AREA_NUMBER ,count(COMMUNITY_AREA_NUMBER) as Number_of_crimes from 
CHICAGO_CRIME_DATA group by(COMMUNITY_AREA_NUMBER) 
order by Number_of_crimes desc
limit 1

 * mysql+pymysql://root:***@localhost/portfolio
1 rows affected.

[(25.0, 43)]

#### Problem 9: Use a sub-query to find the name of the community area with highest hardship index

In [25]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where HARDSHIP_INDEX=(select max(HARDSHIP_INDEX) from CENSUS_DATA)

 * mysql+pymysql://root:***@localhost/portfolio
1 rows affected.

[('Riverdale',)]

#### Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [39]:
%%sql select COMMUNITY_AREA_NAME,ccd.COMMUNITY_AREA_NUMBER,count(CASE_NUMBER) as number_of_crimes
from CENSUS_DATA cd 
join CHICAGO_CRIME_DATA ccd
on cd.COMMUNITY_AREA_NUMBER=ccd.COMMUNITY_AREA_NUMBER 
group by(COMMUNITY_AREA_NAME)
order by number_of_crimes desc
limit 1

 * mysql+pymysql://root:***@localhost/portfolio
1 rows affected.

[('Austin', 25.0, 43)]